<%= form_for @artist, :html => {:class => "form center"} do |f| %>
<div class="form-group">
<p> <%= f.label :name, class: "form-label"%></p>
<p> <%= f.text_field :name, class: "form-control" %></p>
 </div>
<p> <%= f.submit class: 'btn btn-primary'%></p>
<% end %>
